@font-face {
    font-family: 'poppins';
    src: url('./fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('./fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';    
}

html, body {
    width: 100%;
    height: 100vh;
}

button, input {
    font: inherit;
}

.header {
    height: 100px;
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 0 2rem;    
    background-color: #373F51;
}

.header h1 {
    color: white;
    letter-spacing: 0.1rem;
    margin-top: 0.8rem;
}

main {
    height: 85vh;
    display: flex;
    justify-content: space-between;
}

#books-container {
    padding: 2rem;
    width: 70%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.book {
    width: 220px;
    height: 250px;
    background-color: #ffffff;
    padding: 1.5rem 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 2px #dbdada;
    border-left: 6px solid #E6AF2E;
    display: flex;
    flex-direction: column;
}

.book .top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.book h3 {
    text-transform: capitalize;
    color: rgb(67, 66, 66);
    letter-spacing: 0.02rem;
    align-self: center;
}

.book p {
    margin-bottom: 0.5rem;
    color: rgb(88, 88, 88);
}

.book .read-div {
    display: flex;
    align-items: center;
    color: rgb(88, 88, 88);
    margin-top: auto;
    justify-content: space-between;
}

.book button {
    display: block;
    border: 1px solid rgb(248, 11, 11);
    padding: 0.1rem;
    background-color: #fff;
    border-radius: 6px;
    margin-left: auto;
}

.book button svg {
    height: 20px;
    width: 20px;
    fill: rgb(248, 11, 11);
}

.book button:hover {
    cursor: pointer;
}

/*Read Status toggle button styling */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
  margin-left: 0.4rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 2rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 2rem;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #E6AF2E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #E6AF2E;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

#form-container {
    width: 25%;
    padding: 2rem;
    border-left: 5px solid #CECCCC;
    margin: 1rem 0;
    border-radius: 5px;
}

form h1 {
    margin-bottom: 1em;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
}

form > div {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

form > div:nth-last-child(2) {
    display: block;
}

form label {
    margin-bottom: 0.2rem;
}

form input {
    border: 1px solid #CECCCC;
    padding: 0.6rem;
    border-radius: 0.5rem;
}

form button {
    font-size: 1.1rem;
    padding: 0.8em 0;
    width: 60%;
    align-self: center;
    border: none;
    background-color: #373F51;
    border-radius: 8px;
    color: white;
    letter-spacing: 0.05em;
    cursor: pointer;
    margin-top: 2rem;
}

@media screen and (max-width: 992px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #books-container {
        width: 80%;
    }

    #form-container {
        width: 80%;
    }
}